
body{
    padding: 30px;
    font-family: cursive;
    max-width: 1500px;
    max-height: 1500px;
    background-color: #729496;

}
#group::after{
    content: "❤";
}
a{
    text-decoration: none;
}

td{
    padding: 20px;
    border: 5px solid #4F8A8B;
}
table {
    background-color: #F4F6FF;
    border-radius: 2px;
}
.header__text {
    font-family: cursive;
    font-size: 20px;
    color: black;
    padding: 10px 40px;
}
.scroll-container {
    width: 100%;
    max-height: 500px;
    overflow-x: auto;
}
#result-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
#result-table tb{
    border: 1px solid #4F8A8B;
    text-align: center;
}


td.task__result {
    text-align: center;
    vertical-align: top;
}
td.task__result p{
    margin: 80px 0 0 0 ;
}

span {
    color: #FFCB74;
    font-size: 20px;
    text-shadow:1px 1px 2px  #264242;
    margin: 0 40px 0 10px;
}

.choice__values input{
    margin: 0 25px;
}
.choice__values input:hover{
    box-shadow: 0 0 5px 3px #FFCB74 ;
}



.form__label{
    display: flex;
    justify-content: center;
    margin: 20px auto;
    color: #FFCB74;
    font-size: 20px;
    text-shadow:1px 1px 2px  #264242;
}
.form__values{
    margin: 20px auto;
     display: flex;
     justify-content: space-between;
 }
.form__button_x{
    margin: 0 30px;
    width: 45px;
    height: 45px;
    font-family: cursive;
    font-size: medium;
    border:  3px solid #729496;
    border-radius: 2px;
    background-color: #FFCB74;
    color:#264242 ;

}
.form__button_x:hover{
    box-shadow: 0 0 5px 3px #FFCB74 ;
    background-color: #ffe5b480;
    border:  2px solid #FFCB74;
}
.active{
    display:block;
    box-shadow: 0 0 5px 3px #FFCB74 ;
    background-color: #ffe5b480;
    border:  2px solid #FFCB74;

}
.form__inputtext{
    margin: 10px  auto;
    display: flex;
    justify-content: center;
}
.form_text_y{
    border: 2px solid #729496;
    width: 300px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    margin: 0 40px ;
}
.form_text_y:hover{
    box-shadow: 0 0 5px 3px #FFCB74 ;
}
.form_button_r{
    margin: 0 30px;
    font-size: medium;
    color: #4F8A8B;
}
.form_button_r:hover:visited{
    color: #FFCB74;
}

.button_submit{
    margin: 0 40%;
    width: 200px;
    height:50px;
    font-family: cursive;
    font-size: medium;
    border:  3px solid #FFCB74;
    border-radius: 2px;
    background-color: #d5daee ;
    color:#264242 ;
}
button:hover{
    box-shadow: 0 0 5px 3px #FFCB74 ;
    background-color: #ffe5b480;
    border:  2px solid #FFCB74;
}

.main__link{
    margin: 25px auto;

}
.form__inputtext{
    margin: 10px 0;
}
#errors{

}
#errors p{
    text-align: center;
    color:#e38585;

}

.main__canvas{
    margin: 20px auto;
}
canvas {
    z-index: 0;
    height: 400px;
    width: 800px;

}
h2{
    text-align: center;
}

div.header{
    width: 95%;
    font-size: 20px;
    background-color: #ffe5b4;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
    top:0;
    z-index: 5;
}
.header__name{

    color:#264242 ;
}
.header__name:hover{
    color:#4F8A8B;
}
.header__text{
    font-size: 20px;
    color:#264242 ;
}

._container{
    display: flex;
    background-color: #ffe5b480;
    min-height: 104px;
    align-items: center;
    padding: 0 30px;
    box-sizing: content-box;
}
.link:hover{
    color:#4F8A8B;
}
.main-container{
    width: 95%;
    font-size: 20px;
    min-height: 400px;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;

}



.start__date{
    font-size: 50px;
    color: #4F8A8B;
    font-weight: 700;


}
.link{

    font-size: 30px;
    font-weight: 500;
    color: #FFCB74;

}
.start__text{
    color:#4F8A8B;
}




